.card {
  display: flex;
  height: 200px;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
}

.card-status.ABERTA {
  display: flex;
  justify-content: center;
  width: 100px;
  margin-left: 10px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #cccc45;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-status.AGUARDANDO_ACEITE {
  display: flex;
  justify-content: center;
  width: 100px;
  margin-left: 10px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #cccc45;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-status.ACEITA {
  display: flex;
  justify-content: center;
  width: 100px;
  margin-left: 10px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #77cc45;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-status.CANCELADA {
  display: flex;
  justify-content: center;
  width: 100px;
  margin-left: 10px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #cc5145;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-rigth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.card-nome {
  margin: 0 0 18px 0;
  font-size: 1.5rem;
}

.card-button {
  margin-left: 10px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #eee;
  background-color: #49a1b8;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-container-button {
  display: flex;
  align-items: end;
}
